<p>Welcome to Your CV</p>
<ul>
	<li>
		<%= @user.has_profile? ? (link_to "Ver perfil", profile_path(@user.profile)) : (link_to "Crear perfil", new_profile_path) %>
	</li>
	<% @cvs.each do |cv| %>
		<li><%= cv.profile_name %></li>
	<% end %>
	<li><%= link_to "Crear CV", new_cv_path %></li>
</ul>