/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

.title_section{
	padding-left: 1%;
	color: #284C79;
}

.panel{
	border: 0px;
}

.panel .panel-heading{
	padding: 1px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #284c79;
  color: #fff;
}

.card {
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  border-radius: 0px;
  text-align: center;
  margin: 10px;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
  max-width: 200px;
}
.content h4{ color: #fff;}
.content{ margin-top:15px;}
.content p{ color: #fff;}
.card-block a{
  color: #fff; margin: 10px;
}


